# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # testing assertions usually used with exceptions
    assert False

    # bare raise statements
    raise\w*$
