include *.rst *.ini *.txt *.cfg .coveragerc Pipfile* *.yaml
exclude docker-compose.override.yaml
include .ci/*
include .circleci/*
recursive-include scripts *.py setup-codecov
recursive-include pals *.py
