[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
restview = "*"
"flake8" = "*"
twine = "*"

[requires]

[packages]
pytest = "*"
pals = {editable = true, path = "."}
pytest-cov = "*"
sqlalchemy = "*"
check-manifest = "*"
docutils = "*"
"psycopg2-binary" = "*"
